.vscode
__pycache__
core
*.pyd
*.egg-info
build/
dist/
build.sh
*.job
datasets
datasets_zip
MICCAI_BraTS2020_TrainingData_extracted
.github/workflows/python-publish.yml
facebookresearch_hiera_main/CODE_OF_CONDUCT.md
facebookresearch_hiera_main/CONTRIBUTING.md
facebookresearch_hiera_main/CHANGELOG.md
facebookresearch_hiera_main/LICENSE
facebookresearch_hiera_main/hiera/hiera_utils.py
facebookresearch_hiera_main/examples/vid/goat.mp4
facebookresearch_hiera_main/examples/img/inference_speed.png
facebookresearch_hiera_main/examples/vid/dog.mp4
facebookresearch_hiera_main/examples/img/hiera_arch.png
facebookresearch_hiera_main/examples/img/dog.jpg
facebookresearch_hiera_main/.github/workflows/python-publish.yml
facebookresearch_hiera_main/README.md
checkpoints/*
trusted_list
wandb/
facebookresearch_hiera_main/
awesome.err
awesome.out
run_classification.slurm
run_mae.slurm
*.pth
